<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Chat Downloader - fosfor.dev</title>
</head>
<body>
    <form method="post">
        <label for="url">配信URL</label>
        <br>
        <input type="text" name="url" placeholder="https://www.youtube.com/watch?v=..." size="40" value="{{ request.form['url'] }}"></input>
        <br>

        <label for="message">メッセージ検索</label>
        <br>
        <input name="message" value="{{ request.form['message'] }}"></input>
        <br>

        <label for="author_name">ユーザー名検索</label>
        <br>
        <input name="author_name" value="{{ request.form['author_name'] }}"></input>
        <br>

        <button type="submit">検索</button>
    </form>
</body>
</html>
